@import url("https://fonts.googleapis.com/css?family=Quicksand");

.wrapper {
  height: 736px;
  width: 414px;
  margin: 0 auto;
  font-family: "Quicksand", sans-serif;
  /* border: 3px solid green; */
}

.think {
  border: 1px solid black;
  width: 300px;
  height: 25px;
  font-size: 13px;
  padding-left: 5px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.whatDidYouThink {
  font-size: 20px;
}

.container {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  height: 736px;
  width: 414px;
  overflow: scroll;
}

.all-drinks {
  height: 10px;
  border: black solid 1px;
  display: table;
  width: 100px;
  height: 100px;
  margin-bottom: 5px;
  font-size: 10px;
  margin: 0 auto;
}

/* images for DrinkList */
.main-drinks {
  display: table-row;
  width: 120px;
}

.drink-name {
  background-color: white;
  display: table-row;
  width: 100px;
  height: 30px;
}

.name {
  margin-left: 10px;
}

.NavBar {
  border: 1px solid black;
  height: 70px;
  width: 414px;
  background-color: #e5e347;
}

.singleDataImg {
  height: 300px;
  width: 300px;
  margin-left: 10px;
}

.ingredients {
  /* border: 3px solid orange; */
  width: 400px;
  display: block;
  margin-left: 10px;
}

.directions {
  width: 400px;
  margin-left: 10px;
  /* border: 3px solid red; */
}

.nav-img {
  width: 35px;
  display: inline-block;
  margin-left: 15px;
  margin-top: 5px;
}

.nav-images {
  /* border: 1px solid black; */
}

.spacer {
  border: 1px solid black;
  width: 65px;
  display: inline-block;
}

.links {
  display: inline-block;
}

.favListImg {
  display: table-row;
  width: 120px;
}

.search-component {
  margin: 0 auto;
  border: 1px solid black;
  margin-bottom: 40px;
  margin-top: 20px;
  display: flex;
}
.search {
  margin: 0 auto;
  /* border: 1px solid black; */
  margin-bottom: 40px;
  margin-top: 20px;
  display: flex;
}
.searchBar {
  width: 20vw;
  order: 2;
  /* border: 1px solid black; */
}

.search-img {
  padding: 2px;
  order: -1;
  width: 20px;
  height: 20px;
}
