.wrapper{
  /* height: 736px; */
  width: 414px;
  margin: 0 auto;

}

.container{
  border: 3px solid blue;
  display: flex;
  flex-wrap: wrap;

}


.all-drinks{
  height: 10px;
  border:black solid 1px;
  display: table;
  width: 100px;
  height: 100px;
  margin-bottom: 5px;
  font-size: 10px;
  margin: 0 auto;
}

/* images for DrinkList */
.main-drinks{
display:table-row;
width: 120px;
}


.drink-name{
  background-color:white;
  display:table-row;
  width:100px;
  height:30px;
}

.NavBar{
  border: 3px solid purple;
}
