.wrapper {
  height: 736px;
  width: 414px;
  margin: 0 auto;
  /* border: 3px solid green; */
}

.container {
  /* border: 3px solid blue; */
  display: flex;
  flex-wrap: wrap;
  height: 736px;
  width: 414px;
  overflow: scroll;
  border: 3px solid blue;
}

.all-drinks {
  height: 10px;
  border: black solid 1px;
  display: table;
  width: 100px;
  height: 100px;
  margin-bottom: 5px;
  font-size: 10px;
  margin: 0 auto;
}

/* images for DrinkList */
.main-drinks {
  display: table-row;
  width: 120px;
}

.drink-name {
  background-color: white;
  display: table-row;
  width: 100px;
  height: 30px;
}

.NavBar {
  border: 3px solid purple;
  height: 60px;
  width: 414px;
}

.singleDataImg {
  height: 400px;
  width: 400px;
}

.instructions {
  border: 3px solid purple;
}

.ingredients {
  border: 3px solid purple;
  width: 414px;
}

.measure {
  align-self: baseline;
  border: 3px solid purple;
}
